<!-- Hedaer for all pages, includes restaurant picture -->
<nav>
  <top_bar>
    <login_form>
    <form action="/login" method="POST">
      <label>Email</label>
      <input type="email" name="email"/>
      <label>Password</label>
      <input type="password" name="password"/>
      <input class="login_button" type="button" value="login"/>
    </form>
  </login_form>
  </top_bar>
  <header>
    <h1>Lighthouse Cafe</h1>
  </header>
</nav>


