<nav>
  <top_bar>
    <login_form>
    <label>Username</label>
    <input placeholder="Username">
    <label>Password</label>
    <input placeholder="Password">
    <button>Login</button>
  </login_form>
  </top_bar>
  <header>
    <h1>Lighthouse Cafe</h1>
  </header>
</nav>
