@import 'header';

main {
  margin-left: 12vw;
  margin-right: 12vw;

  h3 {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #B7D9EB;
    margin-top: 0.5em;
    border-radius: 0.25em;
    color: #586770;
    box-shadow: lightgrey 1px 2px 2px 0px;
  }

  table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;

    thead {
      border-bottom: 1px solid $secondary-color;
    }

    tfoot {
      tr {
        &:first-child {
          border-top: 1px solid $secondary-color;
        }
      }
      th {
        text-align: center;
      }
    }
  }

}
order_status {
  table {
    margin-left: 30vw;
  }
  td {
    width: 65vw;
  }
  p {
    color: $primary-color;
    margin: 0;
  }
}
h5 {
  display: flex;
  justify-content: center;
  background-color: #78cf8b;
  color: #586770;
  border-radius: 0.25em;
  padding: 0.5em;
  box-shadow: lightgrey 1px 2px 2px 0px;
}


.fa-check {
  color: #28a745;
  margin-right: 1em;
}

.fa-hourglass-half {
  color:#28a745;
  margin-right: 1em;
}

.fa-clock{
  margin-right: 1em;
}

.complete {
  p {
    color: #49c966;
  }
}

