@import 'header';

main {
  margin-left: 12vw;
  margin-right: 12vw;

  h3 {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #B7D9EB;
    margin-top: 0.5em;
    border-radius: 0.25em;
    color: #586770;
  }

  table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;

    thead {
      border-bottom: 1px solid $secondary-color;
    }

    tfoot {
      tr {
        &:first-child {
          border-top: 1px solid $secondary-color;
        }
      }
      th {
        text-align: center;
      }
    }
  }

}
order_status {
  table {
    margin-left: 25vw;
  }
  td {
    width: 65vw;
  }
  p {
    color: $primary-color
  }
}
h5 {
  display: flex;
  justify-content: center;
  background-color: #eddfe4;
  color: #586770;
  border-radius: 0.25em;
  padding: 0.5em;
}


.fa-check {
  color: red;
  margin-right: 1em;
}

.fa-hourglass-half {
  color: red;
  margin-right: 1em;
}

.fa-clock{
  margin-right: 1em;
}

.complete {
  p {
    color: #d96262;
  }
}

