@import 'header';
@import 'modal';

main {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 12vw;
  margin-top: 5vh;

  side_categories ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: flex-start;
    height: 50vh;
    padding: 0;
    position: sticky;
    top: 10px;
  }

  side_categories ul li {
    margin-bottom: 15%;
    font-size: smaller;
    text-transform: uppercase;
    color: $primary-color
  }
}

mid_categories {
  display: flex;
  flex-direction: column;
  width: 45vw;

  article {
    display:flex;
    flex-direction: column;
    margin-right:-10%;
    margin-left:-10%;
    place-self: center;
    width: 100%;
    margin-bottom: 3em;

    button {
      padding: 0;
      border: none;
      background: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &:hover {
        color: $primary-color;
      }
      &:focus {
        outline: none;
      }
      h4 {
        text-transform:capitalize;
      }
    }
  }

  p {
    font-size: smaller;
    margin-top: -2%;
    word-wrap: break-word;
    &::first-letter {
      text-transform: uppercase;
    }
  }

}

cart {
  article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    form {
      display: flex;
      justify-content: space-between;
      width: 100%;
      input {
        display: none;
      }
    }

  }

  article p {
    margin: 0%;
  }

  article item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    itemName {
      padding-left: 1em;
    }
  }


  article price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      padding-right: 0.5em;
    }
  }


}

.panel-group {
  z-index: 1;
}

.panel.panel-default {
  position: sticky;
  top: 90vh;
  margin-right: 10vw;
  header {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 45px;
    background: white;
  }
}

.panel-title {
  margin-right: 12vw;
}

.panel-heading {
  width: 25vw;
  background-color: $secondary-color;
  border-radius: 0.25em;
  height: 40px;

  h4 {
    text-align: center;
    /* justify-content: flex-end; */
    width: 100%;
    a{
      color: white;
    }
  }
}
.panel-title {
  height: inherit;
  padding: 0.2em;
}
checkout {
  margin-right: 3%;

  header {
    width: 22vw;
    border: 2px solid $secondary-color;
    border-radius: 15px;
    padding: 7%;
    margin-top: 2%;
    height: max-content;
    // position: sticky;
    // top: calc(100vh - 70vh);
  }

  header h4 {
    margin-top: 0;
    border-bottom: 1px solid lightgray;
  }
  button {
    text-transform: uppercase;
    width: 100%;
  }

}

.totals {
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgray;
  margin-top: 40%;
  table {
    width: 100%
  }
  th {
    text-align: left;
  }

  td {
    text-align: right;
  }
}
