@import 'header';

main {
  margin-left: 12vw;
  margin-right: 12vw;

  h3 {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #B7D9EB;
    margin-top: 0.5em;
    border-radius: 0.25em;
    color: #586770;
  }

  confirmed {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5em;
  }

  table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;

    thead {
      border-bottom: 1px solid $secondary-color;
    }

    tfoot {
      tr {
        &:first-child {
          border-top: 1px solid $secondary-color;
        }
      }
      th {
        text-align: center;
      }
    }
  }

  form {
    display: flex;
    justify-content: flex-end;
    input {
      border-radius: $bs-border-radius;
      margin-left: 1em;
      padding: .375rem .75rem;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;

      &:focus {
        outline: none;
      }
    }
    button {
      margin-left: 1em;
    }
  }
}
