@import 'header';

main {
  margin-left: 12vw;
  margin-right: 12vw;

  h3 {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #B7D9EB;
    margin-top: 0.5em;
    border-radius: 0.25em;
    color: #586770;
  }

  table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;

    thead {
      border-bottom: 1px solid $secondary-color;
    }

    tfoot {
      tr {
        &:first-child {
          border-top: 1px solid $secondary-color;
        }
      }
      th {
        text-align: center;
      }
    }
  }

  #below_totals {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid $secondary-color;
    padding: 1.5em;
  }

  form {
    input {
      border-radius: $bs-border-radius;
      margin-left: 1em;
      padding: .375rem .75rem;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;

      &:focus {
        outline: none;
      }
    }
    button {
      margin-left: 1em;
    }
  }
}
confirmed {
  p {
    margin-left: 22vw;
    margin-right: 20vw;
    margin-top: 5em;
  }
}

#order_id {
  display: none;
}
#time {
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    label {
      align-self: center;
      margin-bottom: 0;
    }
  }
}
#completed {
  width: 467px;
  input {
    pointer-events: none;
    border: none;
    margin-left: 0;
    padding: 0;
    width: 30px;
  }
  #align_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    div {
      align-self: center;
    }
  }
}

.disable_confirm {
  pointer-events: none;
  input {
    background-color: #bfbfbf;
    opacity: 25%
  }
  button {
    opacity: 25%;
  }
}

.disable_complete {
  pointer-events: none;
  opacity: 25%;
}

.vl {
  border-left: 2px solid $secondary-color;
  height: 130px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  border-top: 0;
}
.hide_completed {
  opacity: 25%;
  pointer-events: none;
}
