@import 'header';

main {
  margin-left: 12vw;
  margin-right: 12vw;

  h3 {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #B7D9EB;
    margin-top: 0.5em;
    border-radius: 0.25em;
    color: #586770;
  }

  table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;

    thead {
      border-bottom: 1px solid $secondary-color;
    }

    tfoot {
      tr {
        &:first-child {
          border-top: 1px solid $secondary-color;
        }
      }
      th {
        text-align: center;
      }
    }
  }

  form {
    input {
      border-radius: $bs-border-radius;
      margin-left: 1em;
      padding: .375rem .75rem;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;

      &:focus {
        outline: none;
      }
    }
    button {
      margin-left: 1em;
    }
  }
}
confirmed {
  p {
    margin-left: 22vw;
    margin-right: 20vw;
    margin-top: 5em;
  }
}

#order_id {
  display: none;
}

#completed {
  p {
    margin-top: 3em;
    border-top: 1px solid $secondary-color
  }
  input {
    pointer-events: none;
    border: none;
    margin-left: 0;
    padding: 0;
    width: 30px;
  }
}

.disable {
  pointer-events: none;
  input {
    background-color: #bfbfbf;
    opacity: 25%
  }
}
